<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    
    <add name="CommonString" connectionString="Data Source=WX1LODABAP01;Initial Catalog=ITInventory;Persist Security Info=True;User ID=sa;Password=rheem.2007"/>
    
    <add name="EBOMString" connectionString="Data Source=WX1LODABAP01;Initial Catalog=EBOM;Persist Security Info=True;User ID=sa;Password=rheem.2007"/>



    <!-- DEBUG -->
    <add name="DebugConnectionString" connectionString="Data Source = WX1LPRESTAMO1\SQLEXPRESS; Initial Catalog = InventoryIT; User ID = inspection_user; Password = truck_100%" providerName="System.Data.SqlClient" />

    <!-- NUEVO LAREDO -->
    <add name="NLAC152ConnectionString" connectionString="Data Source = AN1APP01; Initial Catalog = INSPECTIONS; User ID = inspection_user; Password = truck_100%" providerName="System.Data.SqlClient" />

    <add name="NLWH277ConnectionString" connectionString="Data Source = WN1APPPROD04; Initial Catalog = INSPECTIONS; User ID = inspection_user; Password = truck_100%" providerName="System.Data.SqlClient" />

    <!-- MEXICALI -->
    <add name="MXWH279ConnectionString" connectionString="Data Source = WX1LODABAP01; Initial Catalog = ITInventory; User ID = inventory_user; Password =rheem.2007" providerName="System.Data.SqlClient" />


  </connectionStrings>

</configuration>